h1 {
  font-size: 1.4rem !important;
}

h2 {
  font-size: 1.2rem !important;
}

h3 {
  font-size: 1.1rem !important;
}

img.float-left {
  float: left !important;
  margin-right: 10px !important;
}

img.float-right {
  float: right !important;
  margin-left: 10px !important;
}

img.block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.tiptap img {
  max-width: 100%;
  height: auto;
  resize: both;
  overflow: auto;
  display: block;
}

